body {
    margin: 0;
    padding: 10px;
    font-family: 'Urbanist', sans-serif;
    min-width: 400px;

}
.container{
    max-width: inherit !important;
}
#main-screen{
    display: none;
}

.title{
    color: #00344b;
    font-weight: 600;
    padding-top: 5px;
}

.title span{
    color: #CC0062;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #1c1d1d;
    margin-bottom: 4px;
}

button {
    background: #00344b !important;
    color: white;
    border: 1px solid #00344b !important;
}

button:hover {
    background: #1a7399 !important;
    border: 1px solid #1a7399 !important;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

.list-group-item{
    border-radius: 5px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.list-group-item:nth-child(even){
    background-color: #ffecfb;
}

.list-group-item:nth-child(odd){
    background-color:#e1f0ff;
}


.list-group-item .delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 1;
    background-color: #CC0062 !important;
    border:1px solid #CC0062 !important;
}

.delete-btn:hover {
    background-color: #ffffff !important;
    border:1px solid #CC0062 !important;
    color: #CC0062 !important;
}

